<h1 class="text-center register">Login</h1>

<p>{{errorMessage}}</p>

<main class="main-form">
    <form class="register-form" action="/auth/login" method="post">

    <div class="input-container">
        <p class="label">Username</p>
        <input class="input" type="text" name="username">
    </div>

    <div class="input-container">
        <p class="label">Password</p>
        <input class="input" type="password" name="password">
    </div>
    

    <button class="form-button">Enter</button>

    </form>
</main>

