<h1 class="text-center register">Identificación</h1>

<p class="errorMessage text-center">{{errorMessage}}</p>

<main class="main-form">
    <form class="register-form" action="/auth/login" method="post">

    <div class="input-container">
        <p class="label">Usuario</p>
        <input class="input" type="text" name="username">
    </div>

    <div class="input-container">
        <p class="label">Contraseña</p>
        <input class="input" type="password" name="password">
    </div>
    

    <button class="form-button">Entrar</button>

    </form>
</main>

<script>
    document.title = "Login"
</script>
