 <h1 class="OccasionBike">OccasionBike</h1>
 <h3 class="OccasionBike">Bicis de segunda mano de todos los modelos, colores y gustos</h3>
 <div class="block"> <a href="/bikes/allBikes"><button class="home-button">Ver bicis</button></a></div>

