@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

video{
  height: 100vh;
}

button{
  transform: scale(1);
  transition: 0.3s linear;
}

button:hover{
  transform: scale(1.05);
  transition: 0.3s linear;
}

textarea{
  background-color: var(--color-pr);
  color: var(--color-text);
}

.comment{
  color: var(--color-text);
  margin-bottom: 1rem;
}

.comments{
  padding-top: 2rem;
}

.bike-home{
  position: absolute;
  top: 0;
  left: -12%;
  z-index: -5;
}



body {
  font: 14px "Kanit", "Lucida Grande", Helvetica, Arial, sans-serif;
  --color-pr: rgb(25, 25, 25);
  --color-text: rgb(201, 203, 204);
  --bg-pr: rgb(65, 65, 65);
  background-color: var(--color-pr);
  overflow-x: hidden;
}

.main-header{
  background-color: transparent;
  padding: 1rem;
}

.block{
  display: flex;
  justify-content: center;
}

.OccasionBike{
  text-align: center;
  padding-bottom: 2rem;
  color: var(--color-text);
}

.home-button{
  padding: 1rem 2rem;
  border-radius: 50px;
  transform: scale(1);
  transition: transform 0.4s;
  font-size: 1rem;
}

.home-button:hover{
  transform: scale(1.1);
  transition: transform 0.4s;
}

.delete{
  color: red;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1);
  transition: 0.4s;
}

@media screen and (max-width: 900px) {
  .bike-home{
    left: -40%;
  }
}

@media screen and (max-width: 750px) {
  .bike-home{
    left: -55%;
  }
}

@media screen and (max-width: 600px) {
  .bike-home{
    left: -75%;
  }
}

@media screen and (max-width: 500px) {
  .bike-home{
    left: -90%;
  }
}

img:hover{
  transform: scale(1.1);
  transition: transform 0.4s;
}

.title{
  padding-bottom: 2rem;
  color: var(--color-text);
}

.text-center {
  text-align: center;
}

.fixed{
  position: fixed;
}

.flex{
  display: flex;
}

.logo-container{
  max-width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marb-2{
  margin-bottom: 4rem !important;
}

nav a{
  margin-right: 1rem;
  font-size: 1.125rem;
  color: var(--color-text);
}

.p-3{
  padding: 3rem;
}

.user{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main-title{
  color: var(--color-text);
  word-spacing: 0.6rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.between {
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 2px 0 6px rgba(104, 103, 103, 0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 0 8px rgba(130, 130, 130, 0.5);
}
::-webkit-scrollbar-thumb:active {
  border-radius: 10px;
  -webkit-box-shadow: inset 3px 0 8px rgba(201, 199, 199, 0.5);
}

.allBikes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.banner{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

.banner button{
  background-color: var(--bg-pr);
  color: var(--color-text);
  border-radius: 5px;
}


@media screen and (max-width: 760px){
  body{
    padding: 0.25rem;
  }

  .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .banner button{
    padding: 0.3rem 6rem;
    width: 150px;
    margin-bottom: 0.5rem;
  }

  .allBikes {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
  }

  .bike-card {
    border: 1px solid black;
    width: 320px;
    border-radius: 2px;
  }

  .filter-container{
    width: auto;
    padding: 1rem;
    margin-bottom: 2rem;
    overflow-x: auto;
  }
  
  .filter-container button {
    padding: 0.3rem 0.6rem;
    margin-inline: 0.75rem;
    width: max-content;
  }
  
}

.error{
  color: red;
  margin-bottom: 0.6rem;
}

.banner button{
  padding: 0.5rem 1rem;
}

.oneBike {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

h1.text-center{
  color: var(--color-text);
  margin-bottom: 2rem;
}

.bike-card {
  border: 1px solid black;
  background-color: var(--bg-pr);
  color: var(--color-text);
  border-radius: 5px;
  width: 350px;
}

.description{
  padding: 0.4rem;
}


.img-container {
  max-width: 400px;
  height: 200px;
  overflow: hidden;
}

.bike-title{
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 2.25rem;
  padding: 0.4rem;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.bike-info {
  display: block;
}

.btn{
  padding: 0.5rem 0.75rem;
}

.button-container-down {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

p{
  margin-bottom: 0;
}

.green{
  color: green;
}

.details-button {
  padding: 0.5rem 1rem;
  margin: auto;
  background-color: var(--color-text);
  border-radius: 5px;
}

.details-button a{
  color: var(--bg-pr);
}

.details-anchor {
  display: block;
  transform: scale(1);
  transition: transform 0.5s;
}

.details-button:hover .details-anchor{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.description-label{
  position: absolute;
  left: 5%;
  top: -10%;
  z-index: 10;
  background-color: var(--color-pr);
  color: var(--color-text);
  padding-inline: 0.2rem;
  display: inline-block;
}

.main-header {
  padding-bottom: 1.5rem;
}

a:hover{
  color: rgb(97, 97, 97);
}

.main-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.sell{
  color: var(--color-text);
}

p.text-center{
  color: var(--color-text);
}

.main-form button{
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.register-form input{
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container{
  position: relative;
}

.label{
  position: absolute;
  left: 5%;
  color: var(--color-text);
  top: -40%;
  z-index: 10;
  background-color: var(--color-pr);
  padding-inline: 0.2rem;
  display: inline-block;
}

.input{
  padding: 0.2rem 0.3rem;
  background-color: var(--color-pr);
  border: 1px solid var(--color-text);
  color: var(--color-text);
}

.input-image{
  padding: 0.2rem 0rem;
}

.register{
  padding-bottom: 1rem;
  color: var(--color-text);
}

.form-button {
  padding: 0.35rem;
  border-radius: 4px;
  background-color: var(--color-text);
}

.add-button{
  padding: 0.5rem 0rem;
}

.description-label-add{
  position: absolute;
  left: 5%;
  top: -5.5%;
  z-index: 10;
  background-color: var(--color-pr);
  color: var(--color-text);
  padding-inline: 0.2rem;
  display: inline-block;
}

.filter-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

@media screen and (max-width: 720px) {
  .filter-container{
    flex-direction: column;
    align-items: center;
  }
}

.filter-container button{
  border-radius: 5px;
  background-color: var(--bg-pr);
  color: var(--color-text);
}

.filter-container button {
  padding: 0.5rem 1rem;
  margin-inline: 0.75rem;
  width: max-content;
}

#compradas{
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.sell{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.errorMessage{
  padding: 1rem 0;
  color: red;
}
