<h1>Add bikes</h1>

<div class="banner flex">
    <a href="/users/profile/vendidas"><button>Bicis vendidas</button></a>
    <a href="/users/profile"><button>Volver al perfil</button></a>
    <a href="/users/profile/compradas"><button>Bicis compradas</button></a>
</div>

<section class="sell">
    {{#if user.favBikes}}
    <h3>Vende otra bici !!!</h3>
    {{else}}
    <h3>Pon a la venta tu primera bici</h3>
    {{/if}}
    <a href="/users/create"><button class="sell-button" id="sell">Sell a Bike</button></a>
</section>
  
<form action="/users/create" method="POST" enctype="multipart/form-data">

  <label for="name">Nombre </label>
  <input type="text" name="name">
  <br>
  <label for="weight">Peso </label>
  <input type="number" name="weight">
  <br>
  <label> Talla
    <select name="size" multipe="true">
         <option>infantil</option>
         <option>adolescente</option>
         <option>adulto</option>
  </select>
  </label>
  <label for="colour">Color </label>
  <input type="text" name="colour">
  <br>
  <label for="price">Precio </label>
  <input type="number" name="price">
  <br>
  
  <label for="image">
    <input type="file" name="image">
  </label>
  <br>

  <label for="description">
    <textarea name="description" cols="30" rows="10" maxlength="150"></textarea>
  </label>

  <button>Agregar bikes</button>

</form>
