<script>
   document.title = "Admin"
</script>

<h1 class="main-title text-center"> Perfil del administrador {{admin.username}}</h1>

<h2 class="text-center p-3 admin-title">Lista de usuarios registrados</h2>
<main class="allBikes p-3">
   {{#each allUsers}}
   <article class="user-card">
      <a href="/users/admin-users/{{this._id}}">{{this.username}}</a>
      {{#if this.deleteUser}}
      <small style="color: rgb(176, 16, 16);">(Baneado)</small>
      {{/if}}
   </article>
   {{/each}}
</main>