
<p>{{user.username}}</p>
<p>{{user.email}}</p>
<p>{{user.role}}</p>
<form action="/users/admin-users/{{user._id}}/delete" method="POST">
   <button class="btn btn-danger">Delete user</button>
</form>

<a class="btn btn-primary" href="/users/admin-profile/">Users list</a>
  

